@media (max-width: 1000px) {
  .lesson {
    width: 30%;
  }

  .top-wrapper h1 {
    font-size: 32px;
  }

  .top-wrapper h2 {
    font-size: 28px;
  }

  .top-wrapper p {
    font-size: 20px;
  }

  .message-wrapper h2 {
    font-size: 26px;
  }

  .message-wrapper h3 {
    font-size: 22px;
  }
}

@media (max-width: 670px) {
  .lesson {
    width: 100%;
  }

  .btn {
    width: 100%;
    text-align: center;
  }

  .top-wrapper {
    text-align: left;
    background-size: cover;
  }

  .top-wrapper h1 {
    font-size: 24px;
    line-height: 20px;
  }

  .top-wrapper h2 {
    font-size: 22px;
  }

  .top-wrapper p {
    font-size: 14px;
    line-height: 22px;
  }
  
  .lesson-wrapper h3 {
    font-size: 12px;
    line-height: 30px;
  }

  .message-wrapper h2 {
    font-size: 14px;
    line-height: 34px;
  }

  .message-wrapper h3 {
    font-size: 14px;
    line-height: 24px;
  }

  footer {
    text-align: center;
  }
}
